<header>
  <main>
      <ul>
          <img [src]="url" height="50" class="circle">
          <li><a href="https://github.com/Junior331">GitHub</a></li>
          <li><a routerLink="contacts">Contacts</a></li>
          <li><a routerLink="projects">Projects</a></li>
          <li><a href="">Home</a></li>
      </ul>
  </main>
  <!-- <img [src]="url" height="50" class="circle">
  <a class="text" routerLink="">Home</a>
  <a class="text" routerLink="projects">Projects</a>
  <a class="text" routerLink="contacts">Contacts</a>
  <a class="text" routerLink="https://github.com/Junior331">GitHub</a>
  <ul>
    <li *ngFor="let item of menu">
      <a href="{{item.url}}">{{item.texto}}</a>
    </li>
  </ul> -->
</header>
<!-- <div class="nav">

</div> -->